
  <!-- Navbar and Header -->
<nav class="row nav-extended full-width">
      <div class="col-md-12 no-padding">
          <div class="nav-background">
            <div class="pattern active" style="background-image: url({{homeImage}});background-size:cover;"></div>
          </div>

            <div class="nav-wrapper container">
              <a href="index.html" class="brand-logo">TomVisions</a>
              <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
              <ul class="right hide-on-med-and-down background-black-light">
                <li><a href="https://www.tomvisions.com">Home</a></li>
                <li><a href="index.html">Gallery</a></li>
                <li><a *ngIf="this.code;else nocode" href="/logout">Logout Code {{this.code}}</a></li>
                <ng-template #nocode>
                  <li><a href="/login">Login</a></li>
                </ng-template>
              </ul>
              <div class="nav-header center">
                <h1>Tom Cruickshank Photography</h1>
                <div class="tagline">Tranforming your vision into reality</div>
              </div>
            </div>
            <div class="row full-width  background-black-light white-text no-margin-bottom">
              <div class="container">
                <div class="filters">
                  <ul>
                    <li class="category-section is-checked" data-filter="*">All</li>
                    <li class="category-section" data-filter=".people">People</li>
                    <li class="category-section" data-filter=".nature">Nature</li>
                    <li class="category-section" data-filter=".events">Events</li>
                    <li class="category-section" data-filter=".workshops">Workshops</li>
                  </ul>
                </div>
              </div>
            </div>
        </div>
</nav>
<ul class="sidenav" id="mobile-demo">
  <li><a href="index.html">Gallery</a></li>
  <li><a href="https://www.tomvisions.com">Home</a></li>
  <li><a *ngIf="this.code;else nocode" href="/logout">Logout Code {{this.code}}</a></li>
  <ng-template #nocode>
    <li><a href="/login">Login</a></li>
  </ng-template>
</ul>

<div class="container">
  <router-outlet></router-outlet>
</div>
