
  <!-- Navbar and Header -->
<nav class="row nav-extended full-width">
      <div class="col-md-12 no-padding">
          <div class="nav-background">
            <div class="pattern active" style="background-image: url({{homeImage}});background-size:cover;"></div>
          </div>

            <div class="nav-wrapper container">
              <a href="index.html" class="brand-logo">TomVisions</a>
              <a href="#" data-target="nav-mobile" class="sidenav-trigger"><i class="material-icons">menu</i></a>
              <ul class="right d-none d-lg-block background-black-light">
                <li><a href="https://www.tomvisions.com">Home</a></li>
                <li class="active"><a href="index.html">Gallery</a></li>
              </ul>
              <div class="nav-header center">
                <h1>Tom Cruickshank Photography</h1>
                <div class="tagline">Tranforming your vision into reality</div>
              </div>
            </div>


            <div class="row full-width  background-black-light white-text no-margin-bottom">
              <div class="container">
                <div class="filters">
                  <ul>
                    <li #homelink class="is-checked" data-filter="*">All</li>
                    <li #peoplelink class="people" data-filter=".people">People</li>
                    <li #naturelink data-filter=".nature">Nature</li>
                    <li #eventslink data-filter=".events">Events</li>
                    <li #workshopslink data-filter=".workshops">Workshops</li>
                  </ul>
                </div>
              </div>
            </div>
        </div>
</nav>
<div class="container">
  <router-outlet></router-outlet>
</div>
