<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>Gallery</title>

</head>

<body>
  <!-- Navbar and Header -->
<nav class="row nav-extended full-width">
      <div class="col-md-12 no-padding">
          <div class="nav-background">
            <div class="pattern active" style="background-image: url({{homeImage}});background-size:cover;"></div>
          </div>

            <div class="nav-wrapper container">
              <a href="index.html" class="brand-logo">TomVisions</a>
              <a href="#" data-target="nav-mobile" class="sidenav-trigger"><i class="material-icons">menu</i></a>
              <ul class="right d-none d-lg-block background-black-light">
                <li class="active"><a href="index.html">Home</a></li>
                <li><a href="index-dark.html">Gallery</a></li>
                <li><a href="index-dark.html">Wedding</a></li>
              </ul>
              <div class="nav-header center">
                <h1>Tom Cruickshank Photography</h1>
                <div class="tagline">Tranforming your vision into reality</div>
              </div>
            </div>


            <div class="row full-width  background-black-light white-text no-margin-bottom">
              <div class="container">
                <div class="filters">
                  <ul>
                    <li class="is-checked" data-filter="*">All</li>
                    <li data-filter=".idea">People</li>
                    <li data-filter=".ui">Nature</li>
                    <li data-filter=".ux">Workshops</li>
                  </ul>
                </div>
              </div>
            </div>
        </div>
</nav>
<div class="container">
  <div class="row">
    <div class="col-md-12">
      <div class="rows grid">
      <div class="col-md-3 grid-item logic" data-category="websites">
        <h1>1</h1>
      </div>
      <div class="col-md-3 grid-item flyers" data-category="flyers">
        <h1>2</h1>
      </div>
      <div class="col-md-6 grid-item idea" data-category="ads">
        <h1>3</h1>
      </div>
      <div class="col-md-4 grid-item code" data-category="books">
        <h1>4</h1>
      </div>
      <div class="col-md-4 grid-item ui" data-category="logos">
        <h1>5</h1>
      </div>
      <div class="col-md-4 grid-item ux" data-category="websites">
        <h1>6</h1>
      </div>
      <div class="col-md-6 grid-item idea" data-category="ads">
        <h1>7</h1>
      </div>
      <div class="col-md-6 grid-item code" data-category="books">
        <h1>8</h1>
      </div>
      <div class="col-md-6 grid-item creativity" data-category="books">
        <h1>9</h1>
      </div>
      <div class="col-md-2 grid-item creativity" data-category="books">
        <h1>10</h1>
      </div>
        <div class="col-md-2 grid-item ux" data-category="books">
        <h1>11</h1>
      </div>
      <div class="col-md-12 grid-item ux" data-category="books">
        <h1>12</h1>
      </div>
        </div>
    </div>
  </div>
</div>
<!-- Core Javascript -->
</body>
</html>

<router-outlet></router-outlet>
